.logo {
    width: 100%;
    height: 100%;
}


/* Nav Bar */


/* The side navigation menu */

.sidebar {
    border-right-color: grey;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}


/* Sidebar links */

.sidebar a,
.dropdown-btn {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
}


/* Active/current link */

.sidebar a.active {
    background-color: #276f7a;
    color: white;
}


/* Links on mouse-over*/

.sidebar a:hover:not(.logoside, .active),
.dropdown-btn:hover {
    background-color: #7facb3;
    color: white;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: white;
}


/* Style the down arrow */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


/*-----Content-----*/

h1.title {
    text-align: center;
    font-family: Sans-serif;
    padding-bottom: 20px;
    padding-top: 50px;
    color: black;
}

.content {
    padding-top: 40px;
    background: #f0f9fc;
}

.form {
    background: white;
    border-radius: 25px 25px 0px 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.fa-check {
    color: green;
}

h4.message {
    padding-top: 70px;
    text-align: center;
    font-family: Sans-serif;
}


/* content of patients_assign css */

.col-md-2,
.col-md-4,
.col-md-6,
.col-12 {
    padding-bottom: 12px;
}

.submitbtn {
    padding-top: 40px;
    padding-bottom: 120px;
    text-align: center;
}

.frame {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.doctors {
    margin-bottom: 10%;
}

.btn {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination {
    justify-content: center;
}

.pagination>li>a {
    color: #18a2b8;
}

.form-select-doctor {
    width: 40%;
}


/* 
table {
    width: 100%;
} */


/*-----Footer-----*/

.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: #373737;
    border: 1px black;
}