.header {
    background-color: #f2f2f2 !important;
}
.logo{
  width: 35%;
  height:35%;
}

/* Nav Bar */
/*-----Navigation Bar-----*/

.navbar-custom {
    background-color: black !important;
}


/*-----Navigation Bar Links-----*/

a.navbar-brand:hover, a.navbar-brand:active {
    color: white;
}

a:link, a:visited {
    color: black;
}


/*-----Drop Down Menu Links-----*/
a.drop-item:link, a.drop-item:visited {
    color: black;
}

.rightnav{
  float: right !important;
}

/*-----Content-----*/
h1.title, h6.title{
    text-align: center;
    font-family: Sans-serif;
    padding-bottom: 20px;
}
h6.title{
    margin-left: 10%;
    margin-right:10%;
}


.content{
    padding-top: 40px;
    background: #cecece;
}

.form{
    background: white;
    border-radius: 25px 25px 0px 0px;
    padding-left: 5%;
	padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 120px;
    font-size: 18px;

}

.editing{
    margin-top: 10%;
    background-color: white;
      border-radius: 5px;
      border: 2px solid darkslategrey;
      color: black;
      text-align: center;
      text-decoration: none !important;
      display: inline-block;
      font-size: 18px;
      cursor: pointer;
      float: center;
      width: 100%;
}
a.editing:hover{
    background-color: grey;
    color: white;
}
.submitbtn{
  text-align: center;
}

.covid{
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
}

.btn-style {
    margin-bottom: 5%;
}

div.history{
    border: 1px solid lightgrey;
    height: 400px;
    width:400px;
    overflow-y:auto;
    text-align: center;
    text-size: 18px;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
/*-----Footer-----*/
.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: #373737;
    border: 1px black;
}

@media screen and (min-width: 971px){
    .footer{
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: #373737;
    border: 1px black;
    }
}